// COLOR VARIABLES
$--color-primary-violet: hsl(257, 27%, 26%);
$--color-primary-red: hsl(0, 87%, 67%);
$--color-btn-primary: hsl(180, 66%, 49%);

$--color-grey-violet: hsl(257, 7%, 63%);
$--color-grey-light: hsl(0, 0%, 75%);
$--color-popup: hsl(260, 2%, 32%);
$--color-grey-dark: hsl(255, 11%, 22%);
$--color-grey-dark-violet: hsl(260, 8%, 14%);
$--color-white: #fff;

// FONT VARIABLES
$--font-primary: "Poppins", sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}
body {
    line-height: 1.6;
    font-size: 1.8rem;
    font-family: $--font-primary;
}
.container {
    max-width: 1440px;
    margin: auto;
    padding-top: 8rem;
    padding-left: 8%;
    padding-right: 8%;
}
